# Final Project Part 1 - Proposal

For my final project, I will be using a dataset of video game sales from 1980 to 2016.

**Hypothesis, Assumptions, and Goals**

I want to use this data to figure out which variables may affect sales of video games in different markets.
My assumption is that the genre of video game, video game publisher, and video game platform will all affect video game sales in different markets in different ways. For example, video games that are popular in North America may be different than the video games that are popular in Japan and Europe. Similarly, I want to figure out which types of video games on which platforms are the most popular worldwide.

This information could help video game creators decide in what video games--and on which platforms--they should invest their time and money. I want to use this existing data to create a model that will predict video game sales in these markets.


**Risks and Limitations**

The main limitation of using this dataset is that it only includes video games sales up until the year 2016. We have had 2 more years of video game releases since then, which may show different trends. However, I believe that the 1980-2016 data will be sufficient to create a working model that can predict current trends.

**The Dataset**

As shown below, this dataset includes the name of each video game, the platform on which it was released, the year of release, the genre of video game, the publisher, and the number of sales in North America, Europe, Japan, other countries, and globally (all in millions).

In [1]:
import pandas as pd
vgsales = pd.read_csv('../vgsales.csv')
vgsales.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37